/* css dell'header */
.header-caratteristiche{
    background-image: url(../img/pattern.png);
    background-color:#6298ff;
    height: 180px;
}

.header-caratteristiche img{
    width: 30%;
}

/* css del main */

    /* Titolo con immagini */
    .title h1{
        margin-bottom: 5px;
    }

    .title h4{
        margin: 2px auto;
        color: rgb(128, 128, 128);
    }

    .title span{
        color: rgb(74 169 229);
    }

    .title img{
        margin-top: 20px;
    }

    .title p{
        margin: 2px auto;
        font-size: 9px;
    }

    /* Testo */
    .text span{
        background-color:rgb(250 255 16);
    }

    .text ul{
        padding: 0 15px;
    }

    /* Tabella */




/* css del footer */
footer h4{
    color: rgb(128, 128, 128);
    margin-bottom: 12px;
}

/* aggiunto padding per spostare il testo e margin per diminuire distanza immagini */
footer h3{
    color: white;
    padding-top: 15px;
    padding-left: 10px;
    margin-top: 9px;
    font-size: 25px;
}

footer div{
    width: 270px;
    height: 208px;
}

.monitor{
    background-image: url(../img/monitor.jpg);
}

.grafico{
    background-image: url(../img/graph.jpg);
}